name: Python Package Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Install build tools
      run: |
        python -m pip install --upgrade pip
        pip install build twine setuptools setuptools_scm

    - name: Build package
      run: |
        python -m build testpackage

    - name: Publish package to GitHub
      env:
        TWINE_USERNAME: "__token__"
        TWINE_PASSWORD: "${{ secrets.TOKEN_GITHUB }}"
      run: |
        python -m twine upload --repository-url https://upload.pypi.org/legacy/ testpackage/dist/*