name: CI/CD for Private PyPI

on:
  push:
    branches:
      - main
      - feature/*
    tags:
      - 'v*.*.*'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build setuptools-scm

      - name: Build package
        run: python -m build

      - name: Upload Package to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-2
          BUCKET_NAME: test-pypi-directory
        run: |
          if [[ "$GITHUB_REF" == refs/heads/main ]] || [[ "$GITHUB_REF" == refs/tags/* ]]; then
            aws s3 cp dist/ s3://$BUCKET_NAME/packages/mypackage --recursive
          else
            aws s3 cp dist/ s3://$BUCKET_NAME/packages/mypackage-dev --recursive
          fi