name: CI/CD for Private PyPI

on:
  push:
    branches:
      - main
      - feature/*
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build setuptools-scm

      - name: Build package
        run: python -m build

      - name: Upload to mypackage-dev
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-2
          BUCKET_NAME: test-pypi-directory
        run: |
          echo "Uploading from ref: $GITHUB_REF"
          aws s3 cp dist/ s3://$BUCKET_NAME/mypackage-dev --recursive

      - name: Upload to mypackage
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-2
          BUCKET_NAME: test-pypi-directory
        run: aws s3 cp dist/ s3://$BUCKET_NAME/mypackage --recursive